.card{
    box-shadow:18px 14px 16px;
    width: 350px;
    height: 500px;
    margin: auto;
    border: 10px;
    border-radius: 20px;
    background-color: brown;

}

.imagen{
    max-width: 350px;
    height: auto;
    border-radius: 20px;
    
}


