.cointeiner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-position: center;
    background-size: cover;
    text-align: center;
    align-content: center;
}

.nav_link{
    display: flex;
}

.nav_list{
    display: flex;
    background-color: rgb(63, 171, 190);
    text-align: center;
    width: 2000px;
    align-content: center;
    align-items: center;
}

.nav_list li{
    margin: 0 10px;
    list-style: none;
}

.nav_list li a{
    text-decoration: none;
    color: aqua;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    align-content: center;
}

